{% extends "base.html" %}
{% block title %} 購物 {% endblock %}
{% block content %}
<div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">apple</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">iphone</a></li>
            <li><a class="dropdown-item" href="#">ipad</a></li>
            <li><a class="dropdown-item" href="#">macbook</a></li>
        </ul>
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">samsung</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">home appliances</a></li>
            <li><a class="dropdown-item" href="#">Moblie Device</a></li>
            <li><a class="dropdown-item" href="#">SmartThing</a></li>
        </ul>
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Sony</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">tablet</a></li>
            <li><a class="dropdown-item" href="#">Smartphone</a></li>
        </ul>
    </div>
</div>
{% endblock %}